{% extends "base.html" %}
{% block title %}NosFalta1{% endblock %}
{% block content %}
    <h2>Partidos disponibles en tu ciudad</h2>
    {% if matches %}
        <ul>
        {% for match in matches %}
            <li>
                <h3>{{ match.title }} en {{ match.location }} el {{ match.date }}</h3>
                <ul>
                    <li>Organizador: {{ match.organizer.username }}</li>
                    <li>Jugadores: {{ match.players.count() }} / 10</li>
                    {% if current_user.is_authenticated %}
                        {% if current_user == match.organizer %}
                            <li>
                                <form action="{{ url_for('cancel_match', match_id=match.id) }}" method="post" style="display:inline;">
                                    <button type="submit" class="button red">Cancelar Partido</button>
                                </form>
                                <a class="button" href="{{ url_for('edit_match', match_id=match.id) }}">Editar Partido</a>
                            </li>
                        {% elif current_user not in match.players %}
                            <li><a class="button" href="{{ url_for('join_match', match_id=match.id) }}">Unirse al Partido</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </li>
            {% if loop.index % 3 == 0 %}  <!-- Anuncio cada 3 elementos -->
            <li class="ad-content">
                <p>Este es un espacio para un anuncio</p>
                <!-- Código del anuncio aquí -->
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay partidos disponibles en este momento.</p>
    {% endif %}
{% endblock %}